<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://192.168.110.48:5432/plf_training</property>
        <property name="hibernate.connection.username">plf_training_admin</property>
        <property name="hibernate.connection.password">pff123</property>
        
        <!-- JDBC connection pool settings -->
        <property name="hibernate.connection.pool_size">10</property>
        
        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>
        
        <!-- Disable the second-level cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
        <!-- SQL dialect for your database -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        
        <!-- Mapping files -->
        <!-- Add your entity class mappings here -->
        <mapping class="Product.Model.User"/>
        <mapping class="ProductsModel.Product"/>
        
    </session-factory>
</hibernate-configuration>
